<!-- Company Section -->
<section id="company" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Company</h2>
                <h3 class="section-subheading text-muted">since 2012</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h4 class="service-heading">About</h4>
                <p class="text-muted">
                    eevol started in 2012 as a web development company specialised in tailor-made mobile & web applications. We build entirely native IOS, Android & web apps including server backends, starting from the identification of the requirements to the final product. By integrating the customer closely in the development process, we work towards delivering the best experience for the end-user.
                </p>
                <p class="text-muted">
                    With the on-boarding of senior business consultants, eevol broadened its service portfolio in order to further support our clients in their strategic direction setting and organizational management.
                </p>
            </div>
        </div>
    </div>
</section>
