<div class="row well">
    <div class="col-md-2">
        <img src="/img/logo_icon_black.png" class="img-centered img-responsive" alt="eevol logo"/>
    </div>
    <div class="col-md-8">
        <h4 class="text-black">About</h4>
        <p class="text-black">eevol sàrl is a company based in Luxembourg for Mobile & Web Applications and Business Analysis. We offer a full-stack solution for your applications, for iOS / Android and the Web. Besides eevol supports our clients in driving their project within scope, time, quality and budget. eevol also provides a process analysis, process re-engineering and change management for the customers. </p>
        <p class="text-black">Contact us: ping@eevol.lu</p>
    </div>
</div>
