
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">eevol is tailor-made Mobile & Web Applications</div>
            <div class="intro-heading">Android, iOS & Web development<br> made in Luxembourg</div>
            <a href="#services" class="page-scroll btn btn-xl btn-bordered">Let's talk</a>
        </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

