<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">eevol is <span class="highlight">focused</span> on custom build mobile and web applications. We develop and lead the projects with the end-user in mind.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/eevol-sun.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">iOS & Android Applications</h4>
                    <p class="text-muted">
                        eevol develops iOS & Android applications.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/eevol-radar.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">Web Development</h4>
                    <p class="text-muted">
                        eevol develops web-applications that work on the desktop and on the mobile phones. During every step of the development the team aims for stability while maintaining flexibility for the customer.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/eevol-snipe.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">Agile Methods</h4>
                    <p class="text-muted">
                        eevol develops using agile methods such as SCRUM. These methodologies offer a great liberty to the customers while focusing on the products.
                    </p>
                </div>
            </div>
        </div>
    </section>