---
layout: simple
---
<header class="header--dark">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
            <div class="intro-heading">{{ page.title }}</div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-xs-12">
            <article class="post job">
                <h1 class="post-title">
                    {{ page.title }}
                </h1>
                <p>
                    {{ content }}
                </p>
            </article>
        </div>
        <div class="col-sm-3 col-xs-12">
            <aside class="sidebar">
                <div class="sidebar-section">
                    <h4 class="sidebar-heading">Meta</h4>
                    <dl>
                        <dt>Where</dt>
                        <dd>
                            {{page.where}}
                        </dd>
                        <dt>When
                        </dt>
                        <dd>{{page.when}}</dd>
                        <dt>How</dt>
                        <dd>{{page.time}}</dd>
                    </dl>
                </div>
                <div class="sidebar-section">
                    <h4 class="sidebar-heading">Interested!</h4>
                    <p>Please direct your application to <a href="mailto:jobs@eevol.lu">jobs@eevol.lu</a></p>
                </div>
                <div class="sidebar-section">
                    <h4 class="sidebar-heading">Questions!</h4>
                    <p>For further details or questions, please contact</p>
                    <span class="text-black ">Thierry Nicola</span><br>
                    <span>+352 621 143 859</span><br>
                    <a href="mailto:thierry@eevol.lu">thierry@eevol.lu</a>
                </div>
            </aside>

        </div>
    </div>
    {% include footer-about.html %}
    <div class="row">
        <div class="col-xs-12">
            <div class="post-navigation-bottom">
                <a href="{{ site.url }}" class="btn btn-default btn-sm">
                    < Eevol Homepage
                </a>
            </div>
        </div>
    </div>
</div>
