---
layout: simple
---
<header class="header--dark">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}
                {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
            <div class="intro-heading">{{ page.title }}</div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <article class="post">
                {{ content }}
            </article>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-2">
            <img src="/img/logo_icon_black.png" class="img-centered img-responsive" alt="eevol logo"/>
        </div>
        <div class="col-md-8">
            <h4 class="text-black">About</h4>
            <p class="text-black">eevol sàrl is a company based in Luxembourg for iOS & Android Applications and Web Applications. Offering complete solutions for mobile apps and working with agile methods.</p>
            <p class="text-black">Contact us: ping@eevol.lu</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="post-navigation-bottom">
                <a href="{{ site.url }}" class="btn btn-default btn-sm">
                    < Eevol Homepage
                </a>
            </div>
        </div>
    </div>
</div>